@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #243e63;
}

.body {
    max-width: 100vh;
    overflow-x: hidden;
}

.row {
   width: 100%;
   max-width: 1280px;
   margin: 0 auto;
   display: flex;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
}

a {
    display: inline;
    text-decoration: none;
}

h1 {
    font-size: 48px;
    width:100%;
    color: #1a202c;
    line-height: 1.25;

}

.purple {
    color: #6415ff;
}

.btn {
    padding: 12px 32px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 500px;
    background-color: #6415ff;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: bold;
    transition: all 300ms;
    cursor: pointer;
}

section {
   padding: 0 32px;
}

.container {
    padding: 96px 0;
}

img {
    width: 100%;
}

.section__tag {
    text-align: center;
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    font-size: 48px;
    text-align: center;
    font-weight: 900;
    margin: 16px 0;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.section__para {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

button {
    cursor: pointer;
    border: none;
}

.btn__menu {
    display: none; 
    background: transparent;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    transition: 300ms;
}

.modal {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 378px;
    background-color: rgb(255, 255, 255);
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    margin: 24px 16px;
    padding: 32px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
    border-image: initial;
    border-radius: 8px;
    transition: 300ms;
}

.menu--open .modal {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: rgb(26, 32, 44);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    padding-bottom: 4px;
    margin: 8px 0px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: rgb(247, 250, 252);
    padding: 12px 32px;
    background: rgb(100, 21, 255);
    border-radius: 500px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.btn__menu--close {
    position: absolute;
    right: 18px;
    top: 24px;
}

.fa-bars {
    font-size: 24px;
}

.fa-xmark {
    font-size: 24px;
}

li {
    list-style-type: none
}
  
/*

NAV

*/

.nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
}

.nav__logo {
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-top: 8px;
}

.nav__img--logo {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 6px;
    padding-bottom: 2px;
    letter-spacing: 0.6px
}

.nav__links {
   display: flex;
   align-items: center;
   padding-bottom: 2px;
   color: #1a202c;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    margin: 0 24px;
}

.nav__link--contact {
    white-space: nowrap;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    background: #6415ff;
    color: #fff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms;
}



/*

HEADER

*/

.header__row {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.header__img--wrapper {
    width: 60%;
}


.header__description--para {
    font-size: 20px;
    line-height: 1.5;
    margin: 32px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height:68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 32px;
}

.header__input--email {
   width: 100%;
   border-radius: 500px;
   border: 2px solid #e5e7eb;
   padding: 20px 192px 20px 32px;
   color: #243e63;
   font-size: 16px;
   font-weight: 500;
   position: absolute;
   top: 0;
   bottom: 0;
   z-index: 1;
   transition: border-color 300ms;
}

.header__btn--email {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
    white-space: nowrap;
}

.header__btn--email:hover {
    background-color: rgba(60 , 13, 153)
}

.header__description {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.header__customer--para {
 color: #a0aec0;
 margin: 80px 20px 0 24px;
 font-weight: 500;
 font-size: 12px;
 letter-spacing: 1.5px;
}

.header__customer--img {
    width: 100%;
    max-width: 500px;
    margin: 16px 8px;
    opacity: 0.5;
}

.header__img {
    width: 100%;
}

/*

FEATURES

*/

.features {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
    
}

.feature {
    width: calc(100% / 3);
}

.feature__img--wrapper {
    border: 1px solid #a0aec0;
    border-radius: 500px;
    padding: 20px;
    display: flex;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__text {
    margin-left: 24px;
    margin-top: 18px;
}

.feature__para {
    font-weight: 500;
    color: #a0aec0;
    line-height: 1.5;
}

#features
.section__title {
    text-align: center;
}

#features .section__para {
    text-align: center;
    max-width: 576px;
}

/*

QUALITY

*/

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__description {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.quality__img--wrapper {
    width: 50%;
}

.quality__img {
    width: 100%;
}

#quality .btn {
    margin-top: 32px;
}

/*

STEPS

*/

.steps__description,
.steps__img--wrapper {
    width: 50%;
}

.steps__img {
    width: 100%;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    font-size: 36px;
    color:#cbd5e0;
    font-weight: 500;
    line-height: 1;
}
 
.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/*

VALUES

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values__description,
.values__img {
    width: 50%;
}


.value__title {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.values__list {
    display: flex;
}

.value__img--wrapper {
    width: 36px;
    height: 36px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #9ae6b4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}


#values .btn {
    margin-top: 48px;
}

/*

PRICING

*/

.row__pricing {
    display: flex;
    flex-direction: column;
}

.plans {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}

.plan {
    width: 100%;
    max-width: 384px;
    margin: 64px 32px 0 0;
    padding-top: 8px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    position: relative;
    z-index: 100;
    background: #fff;
}

.plan__stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
}

.plan:nth-child(1) .plan__stripe {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__top,
.plan__middle,
.plan__bottom {
    border: 1px solid #e5e7eb;
    text-align: center;
    padding: 32px;
}

.plan__bottom {
    padding: 32px 96px;
    z-index: 10;
    position: relative;
}


.plan__name,
.plan__price,
.plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan__name {
    font-size: 20px;
}

.plan__price {
    font-size: 48px;
    margin: 4px;
}

.plan__duration {
    font-size: 16px;
}

.plan__target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}


.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.plan__btn {
    text-transform: uppercase;
    text-align: center;
    padding: 16px 32px;
    border-radius: 500px;
    border: none;
    font-size: 14px;
    width: 100%;
    max-width: 192px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.5;
    transition: all 300ms;
}

.plan__btn:hover {
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
                rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}


.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan:nth-child(2) .plan__stripe {
    visibility: hidden;
}

.plan:nth-child(2) .plan__name, 
.plan:nth-child(2) .plan__price, 
.plan:nth-child(2) .plan__target, 
.plan:nth-child(2) .plan__duration, 
.plan:nth-child(2) .plan__feature {
    color: #f7fafc;
}


.plan:nth-child(2) .plan__button {
    color: #6415ff;
    background-color: #f7fafc;
}


.plan:nth-child(2) .plan__middle {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}


.plan:nth-child(3) .plan__stripe, 
.plan:nth-child(3) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan:nth-child(1) .plan__middle, 
.plan:nth-child(3 ) .plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}


.plan:nth-child(3) .plan__stripe, 
.plan:nth-child(3) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/*

TESTIMONIALS

*/

#testimonials .row {
    display: flex;
}

.testimonials__img--wrapper,
.testimonials__description{
    width: 50%;
}

.testimonials__description {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

#testimonials .section__title {
    margin-bottom: 24px;
    line-height: 1.25;
}

.testimonial {
    margin-top: 40px;
}


.testimonial__rating i {
    color: rgba(246, 173, 85);
    margin-right: 2px;
    margin-top: 4px;
}


.testimonial__title, .testimonial__name {
    font-weight: 700;
    color: #243e63;
    font-size: 20px;
    line-height: 1.5;
}

.testimonial__para {
    margin: 16px 0px 40px 0;
    color: #4a5568;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
}


.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}


.testimonial__details {
    margin-left: 24px;
}

.testimonial__role {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}


.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms;
}

.fa-arrow-left,
.fa-arrow-right {
    color: #6415ff;
}

.divider {
    width: 1px;
    height: 24px;
    background: rgb(229, 231, 235);
}

/*

START

*/

#start .row {
    position: relative;
    overflow: hidden;
}

.start__description{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
}

.start__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__title, .start__buttons {
    width: 50%;
}

.start__title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
}

.start__buttons {
    display: flex;
   justify-content: flex-end
}

.start__button {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    line-height: 1.5;
    letter-spacing: 0.025em;
    margin: 1px;
    z-index: 2;
}

.start__button:nth-child(1) {
    background-color:#f56565;
    box-shadow: rgba (0, 0, 0, 0) 0px 0px 0px,
                rgba (0, 0, 0, 0) 0px 0px 0px,
                rgba (0, 0, 0, 0.1) 0px 10px,
                rgba (0, 0, 0, 0.05)0px 4px;
    margin-right: 32px;
    transition: all 300ms;
}

.get-started__btn {
    background: #f56565;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-right: 32px;
    transition: all 300ms;
 }

 .contact-us__btn {
    border: 1px solid rgb(160, 174, 192);
    transition: all 300ms;
    background: none;
 }

 /*

 FOOTER

 */


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__row {
    display: flex;
    flex-direction: column;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
}

.footer__column {
    display: flex;
    flex-direction: column;
}

.footer__column--title {
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
}

.footer__column--link:nth-child(2) {
    margin-top: 24px;
}

.footer__column--link {
    color: #f7fafc;
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.footer__title,
.footer__link {
    color: #FFF;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}

.footer__bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__img--wrapper {
    width: 12.5%
}

.footer__img {
    width: 100%;
}

.footer__logo--name {
    font-size: 20px;
    color: #f7fafc;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
}



.footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
}

.footer__social--links {
    display: flex;
    align-items: center;
    margin-left: -16px;
}

.footer__social--link {
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms;
}

/*

LARGE DESKTOPS

*/

@media ( max-width: 1280px) {
   
    header .row {
        align-items: flex-end;
    }

    .header__img--wrapper {
        display: flex;
        justify-content: flex-end;
    }

    .header__img {
        max-width: 512px;
    }
}

/*

DESKTOPS

*/

@media (max-width: 1024px) {
    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }

    .header__row {
        flex-direction: column;
        align-items: center;
    }

    .header__description {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 30px;
    }

    .header__description--para {
        margin: 20px 0;
    }

    .header__description, 
    .header__img--wrapper {
        width: 100%;
        max-width: 512px;
        margin: 0 auto;
    }

    .header__customer--para,
    .header__img--wrapper {
        margin-top: 48px;
    }

    .header__customer--img {
        padding-right: 0px;
    }

    #features .section__title,
    #pricing .section__title {
        font-size: 48px;
    }

    .section__para {
        font-size: 16px;
    }

    .features {
        max-width: 768px;
    }
    
    .feature {
        width: calc(50%);
    }

    .feature__row {
        padding: 32px 8px;
        margin: 0 16px;
    }

    .feature__title {
        line-height: 1;
    }

    .feature__para {
        max-width: none;
    }

    .quality__description {
        margin-right: 0px;
        padding-right: 48px;
    }

    .section__title {
        font-size: 36px;
    }

    .values__list {
        flex-direction: column;
        max-width: 320px;
    }

    .value:nth-child(1),
    .value:nth-child(2) {
        margin-top: 40px;
    }

    .plans {
        flex-direction: column;
        align-items: center;
    }

    .plan {
        margin-right: 0px;
    }

    .testimonials__description {
        padding-left: 48px;
    }

    .start__row {
        flex-direction: column;
    }

    .start__title {
        text-align: center;
        width: 100%;
        max-width: 512px;
    }

    .start__buttons {
        width: auto;
        margin-top: 24px;
    }

    .start__button {
        padding: 16px 32px;
    }

    .footer {
        padding: 80px 32px;
    }

}

/*

TABLETS

*/

@media (max-width: 768px) {
    .section__para {
        font-size: 14px;
    }
    
    .features {
        justify-content: center;
    }

    .feature {
        width: auto;
        max-width: 384px;
    }

    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }

    #steps .row, #testimonials .row {
        flex-direction: column;
        align-items: center;
    }

    .step {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .step__description {
        margin-top: 12px;
        margin-left: 0px;
    }

    .value {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quality__description,
    .quality__img--wrapper, 
    .steps__description, 
    .steps__img--wrapper, 
    .values__description, 
    .values__img, 
    .testimonials__description, 
    .testimonials__img {
        width: 100%;
        max-width: 448px;
    }

    .quality__description, 
    .steps__description, 
    .values__description, 
    .testimonials__description {
        margin-top: 64px;
        text-align: center;
        padding: 0px;
    }

    .footer__columns {
        justify-content: flex-start;
    }

    .footer__column {
        width: calc(100% / 3);
    }

    .footer__bottom {
        flex-direction: column;
        align-items: center;
    }

    .footer__copyright, 
    .footer__social--links {
        margin-top: 32px;
    }

    .footer__socials {
        margin-left: 0px;
    }

    .footer__social--link:first-child {
        margin-left: 0px;
    }

    .footer__logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/*

MOBILE PHONES

*/

@media (max-width: 640px) {
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }

    .section__title {
        font-size: 30px;
    }

    .container {
        padding: 80px 0;
    }

    #features .section__title, 
    #pricing .section__title {
        font-size: 36px;
    }

    .feature__row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .feature__text {
        margin-left: 0px;
        margin-top: 16px;
    }

    .feature__title {
        letter-spacing: 0.025em;
        line-height: 1;
    }

    .feature__para {
        margin-top: 4px;
        line-height: 2;
    }
    
    .header__email {
        flex-direction: column; 
        height: auto;
    }

    .header__input--email {
        position: static;
        padding: 16px 0;
        padding-left: 32px;
        line-height: 1.5;
    }

    .header__btn--email {
        width: 100%;
        padding: 16px 0;
        margin: 16px 0;
        margin-bottom: 0px;
        line-height: 1.5;
    }

    .header__customer--para {
        font-size: 14px;
        letter-spacing: 0.05em;
    }

    main {
        margin-bottom: 80px;
    }


    #features .section__title,
    #pricing .section__title {
        font-size: 36px;
    }

    .feature__row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .feature__text {
        margin-left: 0px;
        margin-top: 16px;
    }

    .feature__title {
        letter-spacing: 0.025em;
        line-height: 1;
    }

    .feature__para {
        margin-top: 4px;
        line-height: 2;
    }

    .testimonial__bottom {
        flex-direction: column;
        align-items: center;
    }

    .testimonial__profile {
        flex-direction: column;
        text-align: center;
    }

    .testimonial__buttons {
        margin-top: 32px;
    }

    .testimonial__img {
        height: 64px;
        width: 64px;
    }

    .start__container {
        padding: 80px 0;
    }

    .start__title {
        font-size: 24px;
    }

    .btn {
        line-height: 1.5;
    }

    .start__buttons {
        flex-direction: column;
    }

    .start__button {
        padding: 12px 24px;
        font-size: 14px;
    }

    .start__button:nth-child(1) {
        margin-right: 0;
    }

    .start__button:nth-child(2) {
        margin-top: 16px;
    }

    .footer__columns {
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer__column {
        width: auto;
        padding: 0 16px;
        text-align: center;
        align-items: center;
    }

    .footer__column:nth-child(5) {
        margin-top: 32px;
    }
}

/*

SMALL MOBILE PHONES

*/

@media (max-width: 444px) {
    .footer__column:nth-child(4) {
        margin-top: 32px;
    }
}