@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #243e63;
}

.row {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
}

a {
    display: inline;
    text-decoration: none;
}

.purple {
    color: #6415ff;
}

.btn {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    background: #6415ff;
    color: #fff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms;
    cursor: pointer;
}

section {
   padding: 0 32px;
}

.container {
    padding: 96px 0;
}

.section__tag {
    text-align: center;
}

.section__title {
    text-align: center;
}

.section__para {
    text-align: center;

}


/*

NAV

*/

.nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
}

.nav__logo {
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-top: 8px;
}

.nav__img--logo {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 6px;
    padding-bottom: 2px;
    letter-spacing: 0.6px
}

.nav__links {
   display: flex;
   align-items: center;
   padding-bottom: 2px;
   color: #1a202c;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    margin: 0 24px;
}

.nav__link--contact {
    white-space: nowrap;
}

.login {
    margin: 0 24px 0 48px;
}

/*

HEADER

*/

.header__row {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.header__img--wrapper {
    width: 60%;
}

h1 {
    color: #1a202c;
    line-height: 1.25;
    font-size: 48px;
}

.header__description--para {
    font-size: 20px;
    line-height: 1.5;
    margin: 32px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height:68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 32px;
}

.header__input--email {
   width: 100%;
   border-radius: 500px;
   border: 2px solid #e5e7eb;
   padding: 20px 192px 20px 32px;
   color: #243e63;
   font-size: 16px;
   font-weight: 500;
   position: absolute;
   top: 0;
   bottom: 0;
   z-index: 1;
   transition: border-color 300ms;
}

.header__btn--email {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
    white-space: nowrap;
}

.header__btn--email:hover {
    background-color: rgba(60 , 13, 153)
}

.header__description {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.header__customer--para {
 color: #a0aec0;
 margin: 80px 20px 0 24px;
 font-weight: 500;
 font-size: 12px;
 letter-spacing: 1.5px;
}

.header__customer--img {
    max-width: 500px;
    margin: 16px 8px;
    opacity: 0.5;
}

.header__img {
    width: 100%;
}

/*

FEATURES

*/

.features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3);
}